.Answers {
    margin-bottom: 10px;
    max-width: 300px;
    width: 100%;
}

.answers-item {
    background: linear-gradient(#67cfb5, #f3f571);
}

.answer-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 15px;
}