.Description {
    width: 100%;
    max-width: 500px;

    @media (max-width:888px) {
        display: flex;
        flex-direction: column;
        align-items: center;   
    }
}

.description-title-audio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}