.Question {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #2fe488a6;
    border: 5px solid rgb(255, 123, 0);
    border-radius: 50px;
}
