.App {
  display: flex;
  justify-content: center;
  background: rgb(236, 174, 80);
}

.content-wrapper {
  width: 90%;
}

.app-answers-description {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.next-level {
  width: 100%;
  text-align: center;
  margin-top: 15px;
}
