.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: rgb(236, 174, 80);
}

.content-wrapper {
  width: 90%;
}

.app-answers-description {
  margin: 15px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.next-level {
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
}
